@model List<Product>
@{
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Table</h4>
                <a asp-action="create" class=" btn btn-success">CREATED</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    NO
                                </th>
                                <th>
                                    Name
                                </th>
                              
                                <th>
                                    Date
                                </th>
                                <th>
                                    Settings
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product product in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        @count
                                    </td>
                                    <td>
                                        @product.Name
                                    </td>
                                    
                                    <td>
                                        @product.CreateAt
                                    </td>
                                    <td>
                                        <a asp-action="update" asp-route-id="@product.Id" class="btn btn-warning">Update</a>
                                        <a asp-action="delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                                        <a asp-action="detail" asp-route-id="@product.Id" class="btn btn-warning">Deatil</a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
